@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --background: hsl(26, 100%, 99%);

  --very-dark-desaturated-blue: hsl(211, 28%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --footer-logo: hsl(166, 46%, 31%);
  --footer-background: hsl(167, 44%, 70%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --transparent-white: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--barlow-font);
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.19, 1, 0.22, 1) infinite
    alternate both;
  animation: slide-top 0.5s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate
    both;
}
